nav.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #282828;
  color: white;
  
  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    
    li a {
      color: white;
      text-decoration: none;
    }

    .create-event {
      background-color: #ffcc00;
      padding: 0.5rem 1rem;
      border-radius: 5px;
    }
  }
}
